/* CSS Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  #hero {
    background-image: url('https://i.pinimg.com/564x/2f/30/cd/2f30cdf3bf97f39ce1a1ac3a49af1772.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    margin: 0 auto;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .cta-button {
    background-color: #7a7a7a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;   
    border-radius: 20px;
    text-decoration: none;
  }
  
  .cta-button:hover {
    background-color: #555;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .menu-item {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .menu-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .menu-item p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .menu-item span {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  